
<div class= "container">
<h1>
  TITUTLO
</h1>

 <div class="row" style="background-color: rgb(0, 255, 42);">
  FILA
  <div class="col-sm-12" style="background-color: crimson;">
    Columna
  </div>
<div class="col-sm-6" style="background-color: rgb(220, 20, 193);">
  Columna 6
</div>
<div class="col-sm-6" style="background-color: rgb(20, 190, 220);">
  Columna 6
</div>
<div class="col-sm-4" style="background-color: cyan;">
 columna 4
</div>
<div class="col-sm-4" style="background-color: rgb(0, 255, 106);">
  columna 4
</div>
<div class="col-sm-4" style="background-color: rgb(255, 166, 0);">
  columna 4
</div>

 </div>

</div>

